<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string></string>
		<key>FriendlyName</key>
		<string></string>
		<key>Type</key>
		<string></string>
		<key>DefaultValue</key>
		<string></string>
		<key>Comment</key>
		<string>This dict is ignored as its Name is empty</string>
		<key>IsInput</key>
		<true/>
		<key>ValueChangedTarget</key>
		<string></string>
		<key>ValueChangedBody</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>PortA</string>
		<key>FriendlyName</key>
		<string>Port A</string>
		<key>Type</key>
		<string>bool</string>
		<key>DefaultValue</key>
		<string>YES</string>
		<key>Comment</key>
		<string>An example Input port using ValueChangedTarget</string>
		<key>IsInput</key>
		<true/>
		<key>ValueChangedTarget</key>
		<string>myInstance.myProperty</string>
		<key>ValueChangedBody</key>
		<string></string>
	</dict>
	<dict>
		<key>NAME</key>
		<dict>
			<key>Name</key>
			<string>PortA</string>
			<key>FriendlyName</key>
			<string>Port A</string>
			<key>Type</key>
			<string>bool</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Comment</key>
			<string>An example Input port using ValueChangedTarget</string>
			<key>IsInput</key>
			<true/>
			<key>ValueChangedTarget</key>
			<string>myInstance.myProperty</string>
			<key>ValueChangedBody</key>
			<string></string>
		</dict>
		<key>Name</key>
		<string>PortB</string>
		<key>FriendlyName</key>
		<string>Port B</string>
		<key>Type</key>
		<string>bool</string>
		<key>DefaultValue</key>
		<string>YES</string>
		<key>Comment</key>
		<string>An example Input port using ValueChangedBody</string>
		<key>IsInput</key>
		<true/>
		<key>ValueChangedBody</key>
		<string>myInstance.myProperty = inputPortB; foo();</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>PortC</string>
		<key>FriendlyName</key>
		<string>Port C</string>
		<key>Type</key>
		<string>double</string>
		<key>Comment</key>
		<string>An example output port</string>
		<key>IsInput</key>
		<false/>
	</dict>
</array>
</plist>
